html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

.header__logo{
    width: 80px;
    margin-left: 15px;
    margin-bottom: 5px;
}
.header__nav{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container-fluid{
    margin-left: 10px;
}
.header__ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
    margin-top: 10px;
}
.header__a{
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}
.header__carrito-logo{
    width: 70px;
    margin-bottom: 5px;
}
.navbar{
    display: none;
}







/* footer */


.footer__redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer__redes-links{
    margin: 20px 20px 8px;
}

footer img{
    width: 40px;
}
.footer__container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.footer__title{
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-size: 30px;
}
.footer__container a{
    text-decoration: none;
    list-style: none;
    color: aliceblue;
    margin-bottom: 5px;
}
.footer__container ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer h3{
    font-size: 18px;
    margin: 0 0 10px 30px;
    text-transform: uppercase;
}

@media (max-width: 500px){
    /* header */
    .header{
        background-color: rgb(68, 69, 73);
    }
    .header__logo{
        display: none;
    }
    .container-fluid, .header__nav, .header__carrito-logo{
       margin-left: 10px;
       display: none;
    }
    .navbar{
        background-color: rgb(68, 69, 73);
        display: flex;
        height: 100px;
        position: fixed;
        left: 0;
        top: 0;
    }
    .d-flex{
        width: 70%;
    }

    /* main */
    .main{
        margin-top: 70px;
    }
    .main__container, .main__container-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "card1 card2 card3 card4"
        "card5 card6 card7 card8";
        grid-template-rows: 100px 450px 450px;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 25px;
        margin-bottom: 20px;
    }
    
    /* Footer */
    .footer{
        height: 450px;
    }
    .footer__container{
        display: grid;
        grid-template-areas: 
        "categoria ayuda"
        "contactanos .";
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: 200px;
    }
}