
@use "../sass/partials/mediaQ" as*;
@use "../sass/partials/variables" as*;
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: $colorBase;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    top: 0;
    // position: fixed;
    // width: 100%;
    @include mobile {
        background-color: $colorBase;
    }
    &__logo{
        width: 80px;
        margin-left: 15px;
        margin-bottom: 5px;
            @include tablet{
                display: none;
            }
            @include mobile{
                display: none;
            }
        }
    &__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 15px;
        @include tablet{
            display: none;
        }
        @include mobile{
            margin-left: 10px;
            display: none;
        }
        .barra{
            margin-left: 20px;
            @include tablet{
            display: none;
            }
            @include mobile{
                margin-left: 10px;
                display: none;
            }
            .buscadora{
                width: 80%;
                margin:0 auto;
                @include tablet{
                    width: 70%;
                }
                @include mobile{
                    width: 70%;
                }
            }
        }
        .header__ul{
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            list-style: none;
            text-transform: uppercase;
            margin-top: 10px;
            .header__a{
                color: #fff;
                font-weight: bolder;
                text-decoration: none;
                font-size: 20px;
                transition: .3s ease;
            }
            .header__a:hover{
                color: rgb(221, 155, 32);
            }
        }
    }
    .navbar{
        display: none;
        @include tablet{
            background-color: $colorBase;
            display: flex;
            height: 100px;
            position: fixed;
            left: 0;
            top: 0;
            .barrita{
                width: 80%;
            }
        }
        @include mobile{
            background-color: $colorBase;
            display: flex;
            height: 100px;
            position: fixed;
            left: 0;
            top: 0;
            .barrita{
                width: 80%;
            }
        }
    }
    &__carrito-logo{
        width: 70px;
        margin-bottom: 5px;
        @include tablet{
            margin-left: 10px;
            display: none;
        }
        @include mobile{
            margin-left: 10px;
            display: none;
        }
    }
}

//MAIN
.main{
    // margin-top: 140px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include tablet{
        margin-top: 70px;
        }
    @include mobile{
        margin-top: 70px;
    }
    .main__title{
            @include titulo ();
        }
    .main__container{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        grid-template-columns: $columspc;
        grid-auto-rows: $rowspc;
        gap: 50px;
        margin-bottom: 30px;
        .main__tarjetas{
            box-shadow: 0 0 10px rgba(0,0,0, 0.5);
            border-radius: 10px;
            img{
                height: 200px;
                display: block;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                object-fit: cover;
                border-radius: 10px 10px 0 0 ;
            }
            .tarjetas__info{
                width: 100%;
                padding: 15px;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
                .main__descripcion{
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
                button{
                    @include btn-carrito ()
                }
                button:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .main__tarjetas:hover{
            transform: scale(1.1, 1.1);
            cursor: pointer;
            @include tablet{
                transform: none;
            }
            @include mobile{
                transform: none;
            }
        }
    }
    .main__title-container{
            margin: 25px 0 30px 0;
            @include titulo ();
        }
    .main__containers{
        // display: grid;
        // justify-items: center;
        // grid-template-areas: 
        // "titulo titulo titulo titulo"
        // "card1 card2 card3 card4";
        // grid-template-rows: 100px 450px;
        // grid-template-columns: repeat(4, 1fr);
        // row-gap: 25px;
        // margin: 0 25px 20px;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        grid-template-columns: $columspc;
        grid-auto-rows: $rowspc;
        gap: 50px;
        margin-bottom: 30px;
        .main__tarjetas{
            box-shadow: 0 0 10px rgba(0,0,0, 0.5);
            border-radius: 10px;
            img{
                height: 200px;
                display: block;
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                object-fit: cover;
                border-radius: 10px 10px 0 0 ;
            }
            .tarjetas__info{
                width: 100%;
                padding: 15px;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
                .main__descripcion{
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
                button{
                    @include btn-carrito ()
                }
                button:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        .main__tarjetas:hover{
            transform: scale(1.1, 1.1);
            cursor: pointer;
            @include tablet{
                transform: none;
            }
            @include mobile{
                transform: none;
            }
        }
    }
    
}
.mainFQ{
    height: 500px;
    margin-bottom: 25px;
    @include tablet{
        margin-top: 90px;
        height: 600px;
    }
    @include mobile{
        height: 650px;
        margin-top: 95px;
    }
    .main__title{
        @include titulo;
        @include mobile{
        margin: 0 auto 30px;
        text-align: center;
        font-size: 30px;
        width: 80%;

        } 
    }
    .main__conteinerFQ{
        width: 70%;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    }
}
    


//FOOTER
.footer{
    background-color: $colorBase;
    color: aliceblue;
    height: 300px;
    @include tablet{
        height: 330px;
    }
    @include mobile{
        height: 500px;
    }
    
    .footer__redes{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100px;
        .footer__redes-links{
            margin: 20px 50px 8px;
            img{
                width: 40px;
                @include tablet{
                    width: 50px;
                }
            }
            img:hover{
                transform: scale(1.3, 1.3);
                cursor: pointer;
                @include tablet{
                    transform: none;
                }
                @include mobile{
                    transform: none;
                }
            }
        }
        .no{
            @include tablet{
                display: none;
            }
            @include mobile{
                display: none;
            }
        }
    }
    .footer__container{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        @include mobile{
            display: grid;
            grid-template-areas: 
            "categoria ayuda"
            "contactanos .";
            grid-template-columns: repeat(2, 2fr);
            grid-template-rows: 200px;
        }
        // display: grid;
        // justify-content: center;
        // grid-template-columns: repeat(auto-fill, minmax (1fr, 200px));
        // height: 1000px;
        // grid-auto-rows: 150px;
    }
    h3{
        font-size: 18px;
        margin: 0 0 10px 30px;
        text-transform: uppercase;
    }
    
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a{
            text-decoration: none;
            list-style: none;
            color: aliceblue;
            margin-bottom: 5px;
            transition: .3s ease;
        }
        a:hover{
            color: $hovernaranja;
            transform: scale(1.1, 1.1);
            cursor: pointer;
            @include tablet{
                transform: none;
            }
            @include mobile{
                    transform: none;
            }
        }
    }
}