@mixin btn-carrito (){
    padding: 5px;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    font-weight: bolder;
}
@mixin titulo (){
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

$colorBase: #212529;
$colorbtn: rgb(158, 43, 43);
$columspc: repeat(auto-fill, minmax(300px, 250px));
$rowspc: 22rem;
$hovernaranja: rgb(221, 155, 32);